<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

    <form th:action="@{/add-ticker}" th:object="${stock}" method="post">

        <div>
            <label>Ticker:</label>
            <input type="text" th:field="*{ticker}" placeholder="ticker" />
        </div>
        <div>
            <label>Amount:</label>
            <input type="number" th:field="*{amount}" placeholder="amount" />
        </div>
        <div>
            <label>Price:</label>
            <input type="number" th:field="*{price}" placeholder="price" />
        </div>
        <div>
            <label>Date:</label>
            <input type="text" th:field="*{date}" placeholder="yyyy-MM-dd" />
        </div>

        <input type="submit" value="Submit"/>
    </form>

</body>
</html>
